body{
    /* background-color: rgb(255, 255, 255); */
    /* background-color:rgb(116, 176, 255); */
    /* background-image: url('https://i.pinimg.com/originals/9f/5c/88/9f5c880370a7f0e38ccde6f778ddcfba.jpg');
    background-repeat: repeat;
    background-size: cover; */
    background-color:rgb(255, 255, 255);
}
.nav-card{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    margin: 20px;
    background-color:rgb(236, 236, 236);
    box-shadow: 10px 10px 10px rgba(128, 126, 129, 0.548), 
            -10px -10px 10px rgba(163, 163, 163, 0.473);
}
.content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color:#24a5da;
    border-radius: 40px;
    /* overflow-y: scroll; */
}
.url-box{
    width: 85%;
    background-color: #1296bc;
    border-radius: 20px;
    margin: 5%;
    padding: 5px;
}
.url-box p{
    font-family: 'Roboto Mono', monospace;
    font-weight:bolder;
    font-size: 15px;
    margin: 0;
    color: darkslateblue;
}
.url-box p span{
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size: 10px;
    color:dimgrey;
}
.nav-card .heading{
    font-family: 'Pacifico';
    color: turquoise;
    font-size: 55px;
    text-align: center;
}
.nav-card .a{
    font-family: 'Roboto Mono', monospace;
    font-weight:bolder;
    font-size: 25px;
    /* color: rgb(255, 255, 255); */
    color: #ffffff;
}
.name{
    background-color: rgb(226, 226, 226);
}
.samCard{
    background-color: rgb(255, 216, 61);
    margin: 20px;
    display: inline-block;
}
.profile-icon{
    text-align: center;
    margin-top: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: larger;
    color:rgb(112, 112, 112);
}
.morphica{
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(128, 126, 129, 0.349), 
            -10px -10px 10px rgba(163, 163, 163, 0.253);
}
.morphicb{
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(75, 75, 75, 0.349), 
            -10px -10px 10px rgba(110, 110, 110, 0.253);
}
.nav-container{
    margin-top: 50px;
    text-align: center;
    /* background-color: rgba(70, 168, 70, 0.473); */
}
.nav-container img{
    margin: 10px; 
    /* background-color: rgba(76, 0, 130, 0.527); */
}
#home{
    display: block;
    margin: 50px;
}
#test{
    display: none;
    margin: 50px;
}
#verify{
    display: none;
    margin: 50px;
}
#event{
    display: none;
    margin: 50px;
}
#certificate{
    /* display: none; */
}
#certificate .certificate-flex{
    font-size: 0px;
    /* display: flex; */
    /* margin: 20px; */
    /* justify-content:space-between; */
    /* flex-wrap: wrap; */
}
.Cert-card{
    display: inline-block;
    /* margin: 20px; */
    /* height: 100px;
    width: 100px; */
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
}
/* .Cert-card img{
    height: 110px;
    width: 250px;
    font-size: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.Cert-card .detail{
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
} */

/* .certificate-flex img{
    width: 20%;
    min-width: 100px;
    margin: 20px;
} */